body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

div{
    justify-items: center;
    align-content: center;
    background-color: rgb(233, 229, 229);
    height: 200px;
}

button{
    background-color: rgb(131, 131, 131);
    height: 50px;
    width: 170px;
    border-color: rgb(131, 131, 131);
    border-style: solid;
    font-weight: 700;
    color: white;
}

ul{
    list-style: none;
}

.game-button{
    margin-right: 37px;
    border-radius: 0px;
    height: 30px;
    width: 150px;
}


#body{
    background-color: whitesmoke;
    font-weight: bold;
}
